PngImage_2 RCDATA "assets\\img\\dbnavcancel_200.png"
PngImage_1 RCDATA "assets\\img\\dbnavdelete_150.png"
PngImage_3 RCDATA "assets\\img\\dbnavedit_150.png"
PngImage_4 RCDATA "assets\\img\\dbnavfirst_150.png"
PngImage_6 RCDATA "assets\\img\\dbnavlast_150.png"
PngImage_7 RCDATA "assets\\img\\dbnavnext_150.png"
PngImage_8 RCDATA "assets\\img\\dbnavpost_150.png"
PngImage_9 RCDATA "assets\\img\\dbnavprior_150.png"
PngImage_10 RCDATA "assets\\img\\dbnavrefresh_150.png"
PngImage_14 RCDATA "assets\\img\\dbsrcodbc_150.png"
PngImage_11 RCDATA "assets\\img\\default_150.png"
PngImage_27 RCDATA "assets\\img\\disk.png"
PngImage_12 RCDATA "assets\\img\\Document-icon.png"
PngImage_13 RCDATA "assets\\img\\Document-Write-icon.png"
PngImage_33 RCDATA "assets\\img\\edit.png"
Bitmap_14 BITMAP "assets\\img\\file.bmp"
PngImage_34 RCDATA "assets\\img\\file.png"
PngImage_35 RCDATA "assets\\img\\frage.png"
PngImage_15 RCDATA "assets\\img\\Germany-Flag-icon.png"
PngImage_28 RCDATA "assets\\img\\redo.png"
PngImage_16 RCDATA "assets\\img\\tbutton_150.png"
PngImage_17 RCDATA "assets\\img\\tdatasource_150.png"
PngImage_36 RCDATA "assets\\img\\tdatecombobox_150.png"
PngImage_18 RCDATA "assets\\img\\tdateedit_150.png"
PngImage_19 RCDATA "assets\\img\\tdbcombobox_150.png"
PngImage_20 RCDATA "assets\\img\\tdbedit_150.png"
PngImage_21 RCDATA "assets\\img\\tdbf_150.png"
PngImage_22 RCDATA "assets\\img\\tdbgrid_150.png"
PngImage_23 RCDATA "assets\\img\\tdbgroupbox_150.png"
PngImage_24 RCDATA "assets\\img\\tdbimage_150.png"
PngImage_25 RCDATA "assets\\img\\tdblistbox_150.png"
PngImage_26 RCDATA "assets\\img\\tdbmemo_150.png"
PngImage_67 RCDATA "assets\\img\\tdbmysql_150.png"
PngImage_37 RCDATA "assets\\img\\tdbnavadd_150.png"
PngImage_49 RCDATA "assets\\img\\tdbnavapply_150.png"
Bitmap_31 BITMAP "assets\\img\\tdbnavedit_150.bmp"
Bitmap_32 BITMAP "assets\\img\\tdbnavfirst_150.bmp"
PngImage_42 RCDATA "assets\\img\\tdbnavnext_150.png"
PngImage_68 RCDATA "assets\\img\\tdbnavprev_150.png"
PngImage_65 RCDATA "assets\\img\\tdbsrc_150.png"
PngImage_66 RCDATA "assets\\img\\tdbsrcodbc_150.png"
PngImage_38 RCDATA "assets\\img\\tdbtext_150.png"
PngImage_39 RCDATA "assets\\img\\tdrawgrid_150.png"
PngImage_40 RCDATA "assets\\img\\tedit_150.png"
Bitmap_40 BITMAP "assets\\img\\tgroupbox_150.bmp"
PngImage_41 RCDATA "assets\\img\\timage_150.png"
PngImage_43 RCDATA "assets\\img\\tlabel_150.png"
PngImage_44 RCDATA "assets\\img\\tlistbox_150.png"
PngImage_45 RCDATA "assets\\img\\tmainmenu_150.png"
PngImage_46 RCDATA "assets\\img\\tmemo_150.png"
PngImage_47 RCDATA "assets\\img\\tmouse_150.png"
Bitmap_47 BITMAP "assets\\img\\tmysql_150.bmp"
PngImage_48 RCDATA "assets\\img\\tmysqlconnection_150.png"
PngImage_32 RCDATA "assets\\img\\tnavedit_150.png"
PngImage_31 RCDATA "assets\\img\\todbc_150.png"
PngImage_50 RCDATA "assets\\img\\tpagecontrol_150.png"
PngImage_51 RCDATA "assets\\img\\tpaintbox_150.png"
PngImage_52 RCDATA "assets\\img\\tpanel_150.png"
PngImage_53 RCDATA "assets\\img\\tpopupmenu_150.png"
PngImage_54 RCDATA "assets\\img\\tprogressbar_150.png"
PngImage_55 RCDATA "assets\\img\\tradiobutton_150.png"
PngImage_56 RCDATA "assets\\img\\tradiogroup_150.png"
PngImage_57 RCDATA "assets\\img\\tshape_150.png"
PngImage_58 RCDATA "assets\\img\\tspinedit_150.png"
PngImage_59 RCDATA "assets\\img\\tsplitter_150.png"
PngImage_60 RCDATA "assets\\img\\tsqlscript_150.png"
PngImage_61 RCDATA "assets\\img\\tstatusbar_150.png"
PngImage_62 RCDATA "assets\\img\\tstringgrid_150.png"
PngImage_30 RCDATA "assets\\img\\ttable_150.png"
PngImage_63 RCDATA "assets\\img\\ttreeview_150.png"
PngImage_29 RCDATA "assets\\img\\undo.png"
PngImage_64 RCDATA "assets\\img\\United-States-Flag-icon.png"
PngImage_69 RCDATA "assets\\img\\tdbnavcancel_150.png"
PngImage_70 RCDATA "assets\\img\\tdbnavdel_150.png"
PngImage_71 RCDATA "assets\\img\\tdbnavlast_150.png"
